.app.dark {
  --bg-color: #124b12;
  --inverted-bg-color: #ffd7d7;

  --primary-color: #ffa6ea;
  --secondary-color: #814070;
  --inverted-primary-color: #0d4150;
  --inverted-secondary-color: #f5a6e0;
}